<!DOCTYPE html>
<html lang = "en">
<head></head>
<body>

<h3>
    <a href = "{{ url_for('show_all') }}">Comments - Flask
        SQLAlchemy example</a>
</h3>

<hr/>
{%- for message in get_flashed_messages() %}
{{ message }}
{%- endfor %}

<h3>Students (<a href = "{{ url_for('signup') }}">Add Student
</a>)</h3>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>User name</th>
        <th>Email</th>
        <th>Password</th>
    </tr>
    </thead>

    <tbody>
    {% for User in Users %}
    <tr>
        <td>{{ User.id }}</td>
        <td>{{ User.username }}</td>
        <td>{{ User.email }}</td>
        <td>{{ User.password }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>